<h3>Add Head of State</h3>
<form action = "/addHeadOfState" method="POST">
    <div>
        <label>Country Code</label>
        <input
            type= "text"
            name = "_id">
            
        </input>
    </div>
    <div>
        <label>Head of State Name</label>
        <input
            type= "text"
            name = "headOfState">
        </input>
        <input type="submit"
        value="add">
    </input>
    </div>
</form>
<a href="../">home</a>
